grad-cam==1.5.5
numpy==1.26.4
matplotlib==3.10.8
opencv-python==4.13.0.92
pandas==2.3.3
Pillow==10.0.0
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
statsmodels==0.14.6
torch==2.4.1
torchvision==0.19.1
tqdm==4.67.3
ttach==0.0.3